.header {
    background-color: #eee;
    color: #161616;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    font-family: "Roboto Slab";

    &-comment {
        margin: 0 120px 10px 0;
        color: #606060;
    }

    .header-nav-bar {
        display: flex;
        flex-direction: row;

        &-link {
            border: 1px solid #161616;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            padding: 10px;
            margin: 0 10px 0 10px;
            &:hover {
                background-color: #606060;
                border: 1px solid #606060;
                color: #ddd;
                transition: 0s;
                & > * {
                    background-color: #606060;
                    transition: 0s;
                }
            }
            p {
                padding: 0px;
                margin: 0px;
                margin-left: 10px;
            }
            text-decoration: none;
            color: #161616;
            cursor: cell;
        }
    }
}
