.projects {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    & > h4 {
        margin: 0;
        margin-bottom: 20px;
        color: #161616;
    }
    &-container {
        display: flex;
        margin: 0px auto 5rem auto;
        height: 12vw;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        flex-wrap: wrap;

        &-project {
            color: #ddd;
            margin: 10px;

            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 15rem;
                max-height: 15rem;
                border-radius: 5px;
                width: 25vw;
                box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
                background: linear-gradient(
                    45deg,
                    rgb(24 24 27),
                    rgb(39 39 42)
                );
                * {
                    background-color: transparent;
                    padding: 0 0 3px 0;
                }
                .python {
                    color: rgb(20, 166, 214);
                    border-bottom: 1px solid rgba(20, 165, 214, 0.5);
                }
                .csharp {
                    color: rgb(25, 167, 25);
                    border-bottom: 1px solid rgba(25, 167, 25, 0.5);
                }
                .react-js {
                    color: rgb(168, 64, 228);
                    border-bottom: 1px solid rgba(168, 64, 228, 0.5);
                }
                .card-text {
                    font-weight: bolder;
                }

                .btn-group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .btn-link {
                        text-decoration: none;
                        font-weight: bolder;
                        font-size: 18px;
                        border-radius: 10px;
                        background-color: #ddd;
                        width: 50%;
                        margin: 10px auto;
                        color: #161616;
                        &:hover {
                            background-color: #bbb;
                            transition: 300ms;
                        }
                    }
                }
            }
        }
    }
}
