.projects {
    width: 100%;

    margin: 0 auto;
    text-align: center;

    & > h4 {
        margin: 0;
        margin-bottom: 20px;
        color: #161616;
    }
    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        flex-wrap: wrap;

        &-project {
            margin: 10px;
            width: 15rem;
            min-height: 35vh;
            max-height: 35vh;
            background-color: #161616;
            color: #ddd;
            box-shadow: 2px 9px 47px -10px rgba(0, 0, 0, 0.75);
            & > * {
                background-color: #161616;
            }

            .card-body {
                .card-title {
                    background-color: #161616;
                }
                background-color: #161616;
                .python {
                    background-color: #161616;
                    color: lightblue;
                    padding: 0 0 3px 0;
                    border-bottom: 1px solid lightblue;
                }
                .csharp {
                    background-color: #161616;
                    color: lightgreen;
                    padding: 0 0 3px 0;
                    border-bottom: 1px solid lightgreen;
                }
                .react-js {
                    background-color: #161616;
                    color: rgb(228, 148, 228);
                    padding: 0 0 3px 0;
                    border-bottom: 1px solid rgb(228, 148, 228);
                }
                .php {
                    background-color: #161616;
                    color: lightcyan;
                    padding: 0 0 3px 0;
                    border-bottom: 1px solid lightcyan;
                }
                .card-text {
                    background-color: #161616;
                    font-weight: bolder;
                }

                .btn-group {
                    width: 70%;
                    height: 100%;
                    margin: 0 auto;

                    .btn {
                        margin: 0;
                    }
                }
            }
        }
    }
}
