@media screen and (max-width: 900px) {
    .languages {
        position: relative;
        text-align: center;
    }
    .header {
        justify-content: center;
        align-items: center;
        text-align: center;
        &-comment {
            text-align: center;
            margin: 0 20px 10px 0;
            color: #606060;
        }
    }
    .projects {
        & > h6 {
            font-size: 12px;
        }
        &-container {
            &-project {
                font-size: 14px;
                .card-body {
                    display: flex;
                    flex-direction: column;
                    min-height: auto;
                    max-height: auto;
                    border-radius: 5px;
                    width: 90vw;
                    .btn-group {
                        .btn-link {
                            font-size: 16px;
                            width: 75px;
                            margin: 2px auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .languages {
        position: absolute;
        display: flex;
        margin: 35px;
        padding: 5px;
    }
    .projects {
        &-container {
            &-project {
                font-size: 14px;
                .card-body {
                    .btn-group {
                        .btn-link {
                            font-size: 16px;
                            width: 75px;
                            margin: 5px auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .header {
        &-comment {
            margin: 0 20px 10px 0;
            color: #606060;
        }
        .header-nav-bar {
            flex-wrap: wrap;

            &-link {
                padding: 0 35px 0 35px;
                margin: 5px auto;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .header {
        &-comment {
            margin: 0 10px 10px 0;
            font-size: 12.3px;
            color: #606060;
        }

        .header-nav-bar {
            flex-wrap: wrap;

            &-link {
                padding: 0 35px 0 35px;
                margin: 5px auto;
            }
        }
    }

    .projects {
        &-container {
            &-project {
                font-size: 14px;
                .card-body {
                    display: flex;
                    flex-direction: column;
                    min-height: auto;
                    max-height: auto;
                    border-radius: 5px;
                    width: 90vw;
                    .btn-group {
                        .btn-link {
                            font-size: 16px;
                            width: 75px;
                            margin: 2px auto;
                        }
                    }
                }
            }
        }
    }
}
